<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Quienes somos?</h2>
                    <h3 class="section-subheading text-muted">Desde 2016<br><br>
                        <br><img src="img/about/unnamed.jpg" alt="">
                        Somos un equipo joven pero experimentado de docentes y personal administrativo dispuesto y comprometido con la sociedad y cada uno de sus usuarios, el cual proyecta el alcance eficaz y efectivo de las diversas necesidades que la actualidad exige en materia de idiomas y aprendizaje del idioma inglés a través de nuestro método inmersivo con un enfoque novedoso, didáctico, auténtico y sobre todo asequible a todos quienes desean un producto de calidad. 
                        <h1>En ACES… ¡Sabemos cómo!</h1>
 </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Logo ACES Final (1).png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>#WEKNOWHOW since 2016</h4>
                                    <h4 class="subheading">¿Qué significa ACES?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">ACES, sigla que responde a las palabras ‘Academic English Solution’ (Soluciones Académicas en Ingles) es el nombre que identifica a un equipo joven pero experimentado de docentes y personal administrativo dispuesto y comprometido con la sociedad y cada uno de sus usuarios, el cual  proyecta el alcance eficaz y efectivo de las diversas necesidades que la actualidad exige en materia de idiomas y aprendizaje del idioma inglés a través de nuestro método inmersivo y multidisciplinario con un enfoque novedoso, didáctico, auténtico y sobre todo asequible a todos quienes desean un producto de calidad.
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">METODOLOGÍA INMERSIVA
</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Nuestro enfoque va dirigido a las cuatro competencias básicas de aprendizaje de los idiomas, tales como: listening (escucha) speaking (habla) reading (lectura) y writing (escritura). Todas funcionando en conjunto para una mejor disposición del uso de la lengua en cualquier área laboral o cotidiana.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bajo este esquema estarás en capacidad de enfrentarte a conversaciones basadas en la rutina diaria que impliquen el uso de la lengua inglesa en contextos que van desde las expresiones para saludar formal e informalmente, pasando por las formas de comprar o vender en establecimientos comerciales e incluso cómo contar historias o hablar sobre expectativas a futuro todo en el marco de las culturas de los Estados Unidos y/o el Reino Unido.</h3>
                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Clases por niveles</h4>
                                    <h4 class="subheading">Cuatro niveles de ingles.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Prepárate para avanzar rápidamente en cada nivel. ACES, es mucho más que una escuela o una academia de inglés porque nuestra metodología de aprendizaje del inglés es rápida, cómoda, divertida y 100% efectiva. Nuestro reto es conseguir que no sólo hables y entiendas inglés, sino que también lo escribas y leas a la perfección. ¿Cómo? Muy fácil, con el método INMERSIVO. 
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
