<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Quienes somos?</h2>
                    <h3 class="section-subheading text-muted">En ACES Academic English Solution nos encargamos de enseñar el idioma inglés bajo una metodología fácil, efectiva y divertida.<br><br>
                        <br>Aumenta tus posibilidades de salir al mundo sin miedo viviendo la experiencia ACES “ingles inmersivo de supervivencia en la vida real”. </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Logo ACES Final (1).png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>#WEKNOWHOW since 2017</h4>
                                    <h4 class="subheading">¿Qué significa ACES?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">ACES, sigla que responde a las palabras ‘Academic English Solution’ (Soluciones Académicas en Ingles) es el nombre que identifica a un equipo joven pero experimentado de docentes y personal administrativo dispuesto y comprometido con la sociedad y cada uno de sus usuarios, el cual  proyecta el alcance eficaz y efectivo de las diversas necesidades que la actualidad exige en materia de idiomas y aprendizaje del idioma inglés a través de nuestro método inmersivo y multidisciplinario con un enfoque novedoso, didáctico, auténtico y sobre todo asequible a todos quienes desean un producto de calidad.
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Nuestro enfoque va dirigido a las cuatro competencias básicas de aprendizaje de los idiomas, tales como: listening (escucha) speaking (habla) reading (lectura) y writing (escritura). Todas funcionando en conjunto para una mejor disposición del uso de la lengua en cualquier área laboral o cotidiana.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
