<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Servicios</h2><br><br>
                    <h2>CLASES EN SEDE</h2><br><br>
                    <h2>CLASES PERSONALIZADAS</h2><br><br>
                    <h2>ASESORÍAS ACADÉMICAS</h2><br><br>
                    <h2>CLASES DE MÚSICA</h2><br><br>
                    <h2>CLUB CONVERSACIONAL</h2><br><br>
                    <h3 class="section-subheading text-muted">Cursos de Inglés en niveles A1, A2, B1, B2, asesorías académicas, traducciones, preparación para examenes e universidad, TOELF.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chalkboard-teacher"></i>
                    </span>
                    <h4 class="service-heading">CLASES EN SEDE</h4>
                    <p class="text-muted">Actividades divertidas que dejarás a un lado todo el miedo y podrás, por fin, practicar el inglés con mucha fluidez.

Nuestro método 100% inmersivo te ayudará a vivir el inglés real. Te ofrecemos muchas actividades divertidas con canciones, videos, cortometrajes, juegos y muchas ideas súper ingeniosas para que cada clase sea una experiencia única e inolvidable. 
</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
